/* App.css */
body, html {
  height: 100%;
  margin: 0;
  background-image: url('/src/assets/makeup.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.container, .navbar, .hero, .main {
  background: rgba(93, 89, 89, 0.156);
  border-radius: 10px;
  padding: 20px;
}
